@import "./../../assets/scss/variables";

.ticket {
  background-color: #fff;
  border-radius: $card-radius;
  box-shadow: 0 0 10px $shadow-color;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  transition: box-shadow ease 150ms;

  &:hover {
    box-shadow: 0 0 10px $shadow-color-hover;
  }

  .header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    padding: 5px 10px;
    width: 100%;

    .company-logo svg {
      height: 15px;
    }
  }

  .body {
    border-radius: $card-radius;
    box-shadow: 0 0 10px $shadow-color-inner;
    display: flex;
    height: 45px;
    padding: 15px;

    .schedules {
      align-items: flex-start;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 80px;

      &-time {
        color: $default-text;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.4;
      }
    }

    .locations {
      align-items: flex-start;
      box-sizing: border-box;
      display: flex;
      flex: 1 1 0;
      flex-direction: column;
      justify-content: space-between;
      min-width: 0;
      position: relative;
      width: 100%;

      &-line {
        color: $default-text;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        margin: 0;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .city {
        font-weight: 700;
        margin-right: 5px;
      }
    }

    .price {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .amount {
        color: $kombo-blue;
        font-size: 28px;
        font-weight: 700;
      }
    }
  }
}
