@import "./../assets/scss/variables";

.kombo-search {
  @include desktop-size {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  > * {
    width: 100%;
    text-align: center;
    @include desktop-size {
      width: 50%;
    }
  }

  .search-container {
    .demo-search {
      margin: 0 auto;
      display: none;
      @include desktop-size {
        display: block;
        cursor: pointer;
      }
    }
  }

  .tickets-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 16px auto;
    max-width: 450px;
  }
}
