@import "./../assets/scss/variables";

.ticket-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  .ticket {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 343px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $white;
    box-shadow: 0px 2px 3px $shadow-color;
    border-radius: $card-radius;

    .date {
      padding: 0;
      height: 25px;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      text-align: center;
      color: $kombo-blue;
      border-bottom: $shadow-color 1px solid;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;
    }

    .trip {
      margin-left: 36px;
      margin-bottom: 36px;
    }

    .time {
      position: absolute;
      left: 15px;
      font-style: normal;
      font-weight: 600;
      font-size: 11px;
      line-height: 13px;
      display: flex;
      align-items: center;
      text-align: right;
    }

    .location {
      line-height: 17px;
      .city {
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 14px;
        display: flex;
        align-items: flex-end;
      }
      .station {
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: 12px;
        display: flex;
        align-items: flex-end;
        color: $grey;
      }
    }
    .transport-type {
      padding: 8px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .price {
      padding: 4px 0;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(5, 123, 255, 0.15);
      border-radius: 0px 0px $card-radius $card-radius;
      font-weight: 600;
      font-size: 14px;
      text-align: center;
      color: $kombo-blue;
    }
  }
}
