@import "./assets/scss/variables";
@import "./assets/fonts/inter/inter.css";

html {
  background-color: $background-white;
  color: $default-text;

  body {
    margin: 0;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    button {
      @include button;
    }

    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    }

    a {
      color: inherit;
      text-decoration: inherit;
    }
  }
}

.kombo-content {
  margin: 16px auto;
  padding: 0 32px;
  max-width: 1280px;
}
